body {
    margin: 0;
    padding: 0;
    position: sticky;
}
.containerMAIN {
    display: flex; flex-direction: column; height:1080px; width:1920px
}

.navITEM {
    background-color: rgb( 104, 122, 145); height: 100px; width: 1920px;
}

.mainITEM {
    height: 1080px; width: 800px; background-color: rgb(131, 105, 148); margin: 20px;
}

.mainITEM2 {
    display: flex; height: 920px; width: 800px; background-color: rgb(131, 105, 148); margin: 20px; position: absolute; left: 900px ; top: 80px; 
}

.mainITEM3 {
    display: flex; height: 920px; width: 1820px; background-color: rgb(131, 105, 148); margin: 10px; position: absolute; top: 80px; 
}
.mainITEM4 {
    height: 920px; width: 800px; background-color: rgb(131, 105, 148); margin: 20px; top: 80px;
}

.mainITEM5 {
    display: flex; height: 920px; width: 1000px; background-color: rgb(131, 105, 148); margin: 20px; position: absolute; left: 900px ; top: 80px; 
}

.footerITEM {
 height: 100px; width: 1920px; background-color:  rgb( 104, 122, 145); margin: 0px
}

.logo {
    position: absolute; bottom: 650px; height: 22%; left: 5px;
}


.container {
    background-color: rgb( 104, 122, 145) ;
}

.tableitem {height: 370px; width: 1380px; margin: 5px; padding: 10px; }

table, th, td {border: 1px solid black; background-color: #CBCBCB;}
      th, td {padding: 10px;}
      th, td {width: 200px}

.item_iphone7{
    bottom: 10px;
}


